#gitignore
# Ignore node_modules
node_modules/      
# Ignore build output
dist/

# Ignore logs
logs/
*.log
# Ignore environment variables
.env
# Ignore IDE files
.vscode/
.idea/  

# pycache
__pycache__/
